@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Poppins, Futura, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    transition: background-color 0.15s ease-in-out,
    color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link {
    transition: 0.05s ease-in-out;
}

.nav-brand {
    font-size: x-large;
    font-weight: 600;
}

.discordBtn {
    background-color: #5562ea;
}

.discordBtn:hover {
    background-color: #4652cc;
}

.discordBtn .discordIcon {
   margin-right: 10px;
   font-size: 20px;
   transform: translateY(2px)
}

.gradientText {
    background: linear-gradient(45deg, #09009f, #00ff95 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.gradient {
    background: linear-gradient(45deg, #0b00e0, #00ff95 35%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.gradient .btn {
    background: linear-gradient(45deg, #0b00e0, #00ff95 100%);
    background-clip: border-box !important;
    color: white;
    -webkit-text-fill-color: white;
    padding: 5px 15px;
    border-radius: 10px;
}

html.dark body {
    background-color: #0f172a;
}

html.dark nav {
    background-color: #0f172a;
}

.darkModeTogglerIcon {
    transition: 0.05s ease-in-out;
}

.darkModeTogglerIcon:hover {
    transform: scale(1.2);
}